@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  /* background-color: rgb(24, 24, 24); */
  /* background-color: rgb(208, 238, 238); */

  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://images.unsplash.com/photo-1519744792095-2f2205e87b6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-repeat: no-repeat;
  background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
