.calendar {
    border-collapse: collapse;
    width: 50%;
    font-size: 14px;
    border: 1px solid black;
    margin: 0 auto;
  }
  
  .calendar-title {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 150px;
    background-color: red;
  }
  
  .calendar-dayname {
    background-color: white;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 8px 20px;
    border: 1px solid black;
  }
  
  .calendar-date {
    background-color: white;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .calendar-date.current-date {
    background-color: yellow;
    color: black;
  }
  
  .calendar-date:hover {
    background-color: red;
    color: white;
  }
  
  .calendar-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .calendar-year-month {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .calendar td:first-child {
    text-align: left;
  }
  
  .calendar td:last-child {
    text-align: right;
  }
  