.hosted-event-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 20px;
}

.hosted-event-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(73, 71, 71, 0.1);
  margin-bottom: 20px;
  border: rgb(114, 113, 113) 1px solid;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

.hosted-event-image img {
  max-width: 250px;
  max-height: 380px;
  object-fit: contain;
}

.hosted-event-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hosted-event-club {
  font-size: 18px;
  margin-bottom: 10px;
}

.hosted-event-theme {
  font-size: 16px;
  margin-bottom: 10px;
}

.hosted-event-food {
  font-size: 16px;
  margin-bottom: 10px;
}

.hosted-event-details-right {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.hosted-event-date {
  font-size: 16px;
  margin-bottom: 10px;
}

.hosted-event-registrations {
  font-size: 16px;
  font-weight: bold;
}

.hosted-event-tag {
  background-color: rgb(17, 178, 125);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  height: 30px;
}

.hosted-eventname-tag {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hosted-eventname-tag h2 {
  margin: 0px;
  margin-bottom: 30px;
}
