.App {
  padding-right: 20px;
}
.attended-event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 200px;
  width: 100%;
  overflow-y: auto;
  height: 80vh;
}

.attended-event-list::-webkit-scrollbar {
  display: none;
}

.attended-event-card {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  border-radius: 5px;
  flex-basis: calc(20% - 5px);
  box-shadow: 2px 2px 2px rgba(73, 71, 71, 0.1);
  margin-bottom: 20px;
  border: rgb(114, 113, 113) 1px solid;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  max-width: 250px;
  max-height: 400px;
  /* overflow: hidden; */
  margin: 10px;
}

.attended-event-image img {
  width: 100%;
  max-height: 380px;
  object-fit: contain;
}

.attended-event-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.attended-event-club {
  font-size: 18px;
  margin-bottom: 10px;
}

.attended-event-theme {
  font-size: 16px;
  margin-bottom: 10px;
}

.attended-event-food {
  font-size: 16px;
  margin-bottom: 10px;
}

.attended-event-details-right {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.attended-event-date {
  font-size: 16px;
  margin-bottom: 10px;
}

.attended-event-registrations {
  font-size: 16px;
  font-weight: bold;
}

.attended-event-tag {
  background-color: rgb(17, 178, 125);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  height: 30px;
}

.attended-eventname-tag {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.attended-eventname-tag h2 {
  margin: 0px;
  margin-bottom: 30px;
}
