.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.carousels {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel {
  margin: 20px;
  /* overflow: hidden; */
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input {
  padding: 10px;
  border: black;
  border-radius: 15px 0px 0px 15px;
  width: 70%;
  font-size: 16px;
}

.search-form button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 0px 15px 15px 0px;
  padding: 10px;
  font-size: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  width: calc(20% - 10px);
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 10px;
  text-align: center;
}

.card-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-info p {
  margin: 0;
  font-size: 14px;
}

.view-more {
  display: flex;
  justify-content: center;
}

.view-more button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
