/* .search-cont {
  background-image: linear-gradient(to bottom right, #000428, #004e92);
}
.search-page {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  width: 85%;
  position: relative;
  width: 100%;
  height: 100%;
} */

.search-page {
  background-color: rgb(15, 17, 16);
  color: rgb(200, 200, 200) !important;
  height: 100vh;
}

.left-box {
  padding: 10px 10px 20px 20px;
  /* height: 100vh; */
  border: rgb(114, 113, 113) 1px solid;
  background-color: rgb(24, 24, 24);
  color: rgb(200, 200, 200);
  border-radius: 5px;

  position: absolute;
  width: 25%;
  height: 82%;
  top: 11%;
  left: 5%;
  /* position: fixed;
  left: 0; */
}

.event-list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;

  position: absolute;
  width: 60%;
  height: 85%;
  top: 11%;
  right: 5%;
  overflow-y: auto;
  border-bottom: black 1px solid;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 10px;
  /* overflow-y: scroll;
  flex: 1;
  float: right;
  position: relative; */
}

.event-list::-webkit-scrollbar {
  display: none;
}

.footer-cont1 {
  position: relative;
  bottom: 0;
  left: 0;
}

.event-list {
  scrollbar-width: none;
}
.left-box input[type="text"] {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(200, 200, 200);
  background-color: #434343;
}

.left-box select {
  /* background-color: #434343; */
  color: black;
}

.filter-options input {
  color: #434343;
}

.sort-options input {
  background-color: #434343 !important;
}

.sort-options select {
  margin-left: 10px;
  font-size: 16px;
}
.filter-options {
  display: flex;
  flex-direction: row;
}

.left-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.left-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sort-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.filter-options label {
  margin-right: 10px;
}

.event-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(73, 71, 71, 0.1);
  margin-bottom: 20px;
  border: rgb(114, 113, 113) 1px solid;
  padding: 10px;
  background-color: rgb(24, 24, 24);

  color: rgb(200, 200, 200);

  cursor: pointer;
  /* border-radius: 10px; */
}

/* .event-image {
  width: 30%;
} */

.event-image img {
  max-width: 250px;
  max-height: 380px;
  object-fit: contain;
}

.event-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-club {
  font-size: 18px;
  margin-bottom: 10px;
}

.event-theme {
  font-size: 16px;
  margin-bottom: 10px;
}

.event-food {
  font-size: 16px;
  margin-bottom: 10px;
}

.event-details-right {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.event-date {
  font-size: 16px;
  margin-bottom: 10px;
}

.event-registrations {
  font-size: 16px;
  font-weight: bold;
}

.event-tag {
  background-color: rgb(17, 178, 125);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  height: 30px;
}

.eventname-tag {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.eventname-tag h2 {
  margin: 0px;
  margin-bottom: 30px;
}
