.search-cont {
  background-color: rgb(220, 254, 254);
}
.search-page {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  width: 85%;
}

.left-box {
  width: 25%;
  position: sticky;
  padding: 10px 10px 20px 20px;
  height: 100%;
  background-color: white;
  border: rgb(114, 113, 113) 1px solid;
  border-radius: 5px;
}

.left-box input[type="text"] {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
  font-size: 16px;
  margin-bottom: 20px;
}

.sort-options select {
  margin-left: 10px;
  font-size: 16px;
}
.filter-options {
  display: flex;
  flex-direction: row;
}

.left-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.left-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sort-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.filter-options label {
  margin-right: 10px;
}

.event-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 20px;
}

.event-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(73, 71, 71, 0.1);
  margin-bottom: 20px;
  border: rgb(114, 113, 113) 1px solid;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  /* border-radius: 10px; */
}

/* .event-image {
  width: 30%;
} */

.event-image img {
  max-width: 250px;
  max-height: 380px;
  object-fit: contain;
}

.event-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-club {
  font-size: 18px;
  margin-bottom: 10px;
}

.event-theme {
  font-size: 16px;
  margin-bottom: 10px;
}

.event-food {
  font-size: 16px;
  margin-bottom: 10px;
}

.event-details-right {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.event-date {
  font-size: 16px;
  margin-bottom: 10px;
}

.event-registrations {
  font-size: 16px;
  font-weight: bold;
}

.event-tag {
  background-color: rgb(17, 178, 125);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  height: 30px;
}

.eventname-tag {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.eventname-tag h2 {
  margin: 0px;
  margin-bottom: 30px;
}
